.quizzing
  .question
    Think of an animal...

  %input.node{ :type => :hidden }
  .buttons
    .ok_button
      %input.ok.button{ :type => :button, :value => "OK", :onclick => "javascript: ask();" }
    .other_buttons_hidden
      %input.yes.button{ :type => :button, :value => "YES", :onclick => "javascript: answer('y');" }
      %input.no.button{ :type => :button, :value => "NO", :onclick => "javascript: answer('n');" }

.learning


:javascript
  function ask() {
    dojo.attr(dojo.query(".ok_button")[0], "class", "ok_button_hidden");
    dojo.attr(dojo.query(".other_buttons_hidden")[0], "class", "other_buttons");
    dojo.xhrGet({
      url: "#{ask_url}",
      method: "get",
      handleAs: "json",
      load: function(data) {
        console.log(data["foo"]);
        dojo.query(".question")[0].innerText = data["question"];
        dojo.query(".node")[0].value = data["node_id"];
      },
      error: function(err) {
        dojo.query(".question")[0].innerText = err;
      }
    });
  }

  function answer(response) {
    if(response == ("n"))
    {
      console.log("NO!");
    }
    else
    {
      console.log("YES!");
    }

    dojo.xhrGet({
      url: "#{answer_url}",
      content: {
        "response" : response,
        "node_id" : dojo.query(".node")[0].value
      },
      method: "get",
      handleAs: "json",
      load: function(data) {
        dojo.query(".question")[0].innerText = data["answer"];
      },
      error: function(err) {
        console.log("Failure!");
      }
    });
  }