#outer.centered
  #text.show.text
    Think of an animal...

  #animal.hide
    %input#animal_input
    %input#animal_button.button{ :type => :button, :value => "OK", :onclick => "javascript: animal();" }
  #question.hide
    %input#question_input
    %input#animal_button.button{ :type => :button, :value => "OK", :onclick => "javascript: question();" }
  #answer.hide
    %input#answer_input
    %input#animal_button.button{ :type => :button, :value => "OK", :onclick => "javascript: answer();" }

  %input#node.hide
  #buttons
    #ok_button.show
      %input#go.button{ :type => :button, :value => "OK", :onclick => "javascript: ask();" }
    #other_buttons.hide
      %input#yes.button{ :type => :button, :value => "YES", :onclick => "javascript: response('y');" }
      %input#no.button{ :type => :button, :value => "NO", :onclick => "javascript: response('n');" }

:javascript
  animal = function() {
    dojo.attr(dojo.query("#animal")[0], "class", "hide");
    dojo.query("#text")[0].innerText = "Question:";
    dojo.attr(dojo.query("#question")[0], "class", "show");
  }

  question = function() {
    dojo.attr(dojo.query("#question")[0], "class", "hide");
    dojo.query("#text")[0].innerText = "Answer:";
    dojo.attr(dojo.query("#answer")[0], "class", "show");
  }

  answer = function() {
    dojo.query("#text")[0].innerText = "Thanks! Play again?";
    dojo.attr(dojo.query("#answer")[0], "class", "hide");
    dojo.xhrGet({
      url: "#{new_node_url}",
      content: {
        "animal" : "squirel",
        "question" : "Do you store nuts?",
        "answer" : "yes",
        "parent" : dojo.query("#node")[0].value
      },
      method: "get",
      handleAs: "json",
      load: function(data) {
        console.log("New node created");
      },
      error: function(err) {
        dojo.query("#text")[0].innerText = "Uh-oh, something went wrong!";
      }
    });
  }

  ask = function() {
    dojo.attr(dojo.query("#ok_button")[0], "class", "hide");
    dojo.attr(dojo.query("#other_buttons")[0], "class", "show");
    dojo.xhrGet({
      url: "#{ask_url}",
      method: "get",
      handleAs: "json",
      load: function(data) {
        dojo.query("#text")[0].innerText = data["question"];
        dojo.query("#node")[0].value = data["node_id"];
      },
      error: function(err) {
        dojo.query("#text")[0].innerText = "Uh-oh, something went wrong!";
      }
    });
  }

  response = function(response) {
    dojo.xhrGet({
      url: "#{answer_url}",
      content: {
        "response" : response,
        "node_id" : dojo.query("#node")[0].value
      },
      method: "get",
      handleAs: "json",
      load: function(data) {
        if (data["winner"])
        {
          dojo.attr(dojo.query("#buttons")[0], "class", "hide");
          dojo.query("#text")[0].innerText = "You win! Help me learn from my mistake before you go...";
          setTimeout('dojo.query("#text")[0].innerText = "What animal are you?"', 2000);
          setTimeout('dojo.attr(dojo.query("#animal")[0], "class", "show")', 2000);
        }
        else if (!data["winner"])
        {
          dojo.query("#text")[0].innerText = data["answer"];
        }
        else
        {
          dojo.query("#text")[0].innerText = data["answer"];
        }
      },
      error: function(err) {
        dojo.query("#text")[0].innerText = "Uh-oh, something went wrong!";
      }
    });
  }