#outer.centered
  #text.show.text
    Think of an animal...

  // This section is for gathering new info on a new node
  #animal.hide
    %input#animal_input
    %input#animal_button.button{ :type => :button, :value => "OK", :onclick => "javascript: animal();" }
  #question.hide
    %input#question_input
    %input#animal_button.button{ :type => :button, :value => "OK", :onclick => "javascript: question();" }
  #answer.hide
    %input#answer_input
    %input#animal_button.button{ :type => :button, :value => "OK", :onclick => "javascript: answer();" }

  // This section is for asking node questions and gathering responses
  %input#node.hide
  #buttons
    #ok_button.show
      %input#go.button{ :type => :button, :value => "OK", :onclick => "javascript: ask();" }
    #other_buttons.hide
      %input#yes.button{ :type => :button, :value => "YES", :onclick => "javascript: response('y');" }
      %input#no.button{ :type => :button, :value => "NO", :onclick => "javascript: response('n');" }

:javascript
  // Methods for gathering info to populate new node(s)
  // Animal: What animal were you thinking of?
  animal = function() {
    dojo.attr(dojo.query("#animal")[0], "class", "hide");
    dojo.query("#text")[0].innerText = "Question:";
    dojo.attr(dojo.query("#question")[0], "class", "show");
  }

  // Question: Please provide a question that would help me
  // distinguish the animal I guessed form the animal you
  // were thinking of
  question = function() {
    dojo.attr(dojo.query("#question")[0], "class", "hide");
    dojo.query("#text")[0].innerText = "Answer:";
    dojo.attr(dojo.query("#answer")[0], "class", "show");
  }

  // Answer: What would the answer to the question you just
  // gave me be for the animal you were just thinking of?
  answer = function() {
    dojo.query("#text")[0].innerText = "Thanks! Play again?";
    dojo.attr(dojo.query("#answer")[0], "class", "hide");
    dojo.xhrGet({
      url: "#{new_node_url}",
      content: {
        "animal" : dojo.query("#animal input")[0].value,
        "question" : dojo.query("#question input")[0].value,
        "answer" : dojo.query("#answer input")[0].value,
        "parent" : dojo.query("#node")[0].value
      },
      method: "get",
      handleAs: "json",
      load: function(data) {
        console.log("New node created");
        dojo.query("#animal input")[0].value = "";
        dojo.query("#question input")[0].value = "";
        dojo.query("#answer input")[0].value = "";
      },
      error: function(err) {
        dojo.query("#text")[0].innerText = "Uh-oh, something went wrong!";
      }
    });
  }

  // Game play methods:
  // Ask: Method to as an animal question
  //   Can you fly? or Are you an insect? or Are you a mouse?
  ask = function() {
    dojo.attr(dojo.query("#ok_button")[0], "class", "hide");
    dojo.attr(dojo.query("#other_buttons")[0], "class", "show");
    dojo.xhrGet({
      url: "#{ask_url}",
      method: "get",
      handleAs: "json",
      load: function(data) {
        dojo.query("#text")[0].innerText = data["question"];
        dojo.query("#node")[0].value = data["node_id"];
      },
      error: function(err) {
        dojo.query("#text")[0].innerText = "Uh-oh, something went wrong!";
      }
    });
  }

  // Response: Method to gather the response from the user
  // and return it server side to decide what's next
  response = function(resp) {
    dojo.xhrGet({
      url: "#{answer_url}",
      content: {
        "response" : resp,
        "node_id" : dojo.query("#node")[0].value
      },
      method: "get",
      handleAs: "json",
      load: function(data) {
        if (data["p_winner"])
        {
          dojo.attr(dojo.query("#buttons")[0], "class", "hide");
          dojo.query("#text")[0].innerText = "You win! Help me learn from my mistake before you go...";
          setTimeout('dojo.query("#text")[0].innerText = "What animal are you?"', 2000);
          setTimeout('dojo.attr(dojo.query("#animal")[0], "class", "show")', 2000);
          dojo.query("#node")[0].value = null;
        }
        else if (data["c_winner"])
        {
          dojo.attr(dojo.query("#buttons")[0], "class", "hide");
          dojo.query("#text")[0].innerText = "I win!";
          dojo.query("#node")[0].value = data["node_id"];
        }
        else
        {
          dojo.query("#text")[0].innerText = data["question"];
          dojo.query("#node")[0].value = data["node_id"];
        }
      },
      error: function(err) {
        dojo.query("#text")[0].innerText = "Uh-oh, something went wrong!";
      }
    });
  }