.question
  Think of an animal...

%input.node{ :type => :hidden }
.buttons
  .ok_button
    %input.ok{ :type => :button, :value => "OK", :onclick => "javascript: ask();" }
  .other_buttons_hidden
    %input.yes{ :type => :button, :value => "yes", :onclick => "javascript: answer('y');" }
    %input.no{ :type => :button, :value => "no", :onclick => "javascript: answer('n');" }

:javascript
  function ask() {
    dojo.attr(dojo.query(".ok_button")[0], "class", "ok_button_hidden");
    dojo.attr(dojo.query(".other_buttons_hidden")[0], "class", "other_buttons");
    dojo.xhrGet({
      url: "#{ask_url}",
      method: "get",
      handleAs: "json",
      load: function(data) {
        console.log(data["foo"]);
        dojo.query(".question")[0].innerText = data["question"];
        dojo.query(".node")[0].value = data["node_id"];
      },
      error: function(err) {
        dojo.query(".question")[0].innerText = err;
      }
    });
  }

  function answer(response) {
    dojo.xhrGet({
      url: "#{answer_url}",
      method: "get",
      handleAs: "json",
      load: function(data) {
        dojo.query(".question")[0].innerText = data["answer"];
      },
      error: function(err) {
        console.log("Failure!");
      }
    });
  }