// Place all the styles related to the Quiz controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.ok_button {
  display: inline;
}

.ok_button_hidden {
  display: none !important;
  overflow: hidden !important;
}

.other_buttons {
  display: inline;
  overflow: visible;
}

.other_buttons_hidden {
  display: none !important;
  overflow: hidden !important;
}

.button {
  font-size: 20px;
}

.question {
  font-size: 20px;
  font-family: helvetica;
}

.quizzing {
  position: absolute;
  left: 50%;
  top: 50%
}

.learning {
  position: absolute;
  left: 50%;
  top: 50%;
}