// Place all the styles related to the Quiz controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  height: 100%;
  width: 100%;
}

.centered {
  text-align: center;
  position: absolute;
  left:12%;
  top:45%;
  width: 76%;
  margin: auto;
}

.show {
  display: inline;
}

.hide {
  display: none;
}

.button {
  font-size: 1.2em;
}

#animal_input {
  display: block;
  position: relative;
  width: 24%;
  font-size:1.2em;
  left: 38%;
}

#question_input {
  display: block;
  position: relative;
  width: 50%;
  font-size:1.2em;
  left: 25%;
}

#outer {
  line-height: 3em;
}

#lets_go {
  position: relative;
  left: 45%;
  margin-top: -15px;
  text-align: center;
}

#buttons {
  margin-top: 20px;
}

input.button {
  font-size: 1.5em;
  width: 80px;
}

#preliminary_instructions {
  position: absolute;
  left: 34%;
  top: 20%;
  width: 462px;
  height: 210px;
  padding: 1%;
  border-style: solid;
  border-width: thin;
  border-color: lightgray;
  border-radius: 10px;
  font-size: 1.1em;
  font-family: helvetica;
  text-align: justify;
  color: gray;
  p {
    margin-top: 0px;
  }
}

#new_node_instructions {

}

#questions {
  font-size: 1.5em;
  font-family: helvetica;
  width: 75%;
}
