// Place all the styles related to the Quiz controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
  height: 100%;
  width: 100%;
}

.centered {
  position: absolute;
  left:40%;
  top:45%;
  width: 20%;
  height: 10%;
  margin: auto;
}

.ok_button {
  display: inline;
}

.ok_button_hidden {
  display: none;
}

.other_buttons {
  display: inline;
}

.other_buttons_hidden {
  display: none;
}

.button {
  font-size: 20px;
}

.buttons {
  align: center;
}

.question {
  font-size: 1.5em;
  font-family: helvetica;
}

.quizing {
  // Nothing to see here
}

.learning {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -25%;
  margin-left: -25%;
}